.bar {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  background-color: #3d3d3d;
  height: 2em;
  padding: 1em;
}

.button {
  background-color: #3d3d3d;
  height: 1em;
  width: 5%;
  padding: 1em;
  color: white;
}

.button:hover {
  background-color: #333;
}

.pad {
  flex-grow: 1;
}

.icon {
  background-color: #3d3d3d;
  height: 1em;
  width: 5%;
  padding: 1em;
  color: white;
}

.icon:hover {
  background-color: #333;
}

.iconimg {
  height: 20px;
}
