.plants {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  background-color: #333;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 0px;
  color: white;
}

.pannelleft {
  width: 30%;
  flex-direction: column;
}

.feedbox {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  height: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.controlbox {
  height: 60%;
  background-color: #555;
}

.pannelright {
  width: 70%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  display: inline-flex;
}

.graphbox {
  width: 50%;
  height: 50%;
}

.stats {
  text-align: left;
  font-size: 1.2em;
}

.statsdata {
  padding-left: 0.4em;
}

.statstitle {
  padding-left: 0.4em;
}
